<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>605305531825-qhtcnsncekp74uijb6at4ubnl8vli3l1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.605305531825-qhtcnsncekp74uijb6at4ubnl8vli3l1</string>
	<key>API_KEY</key>
	<string>AIzaSyDXnc6R5FL7NLdet4gyJMI4YTItQDFyC8s</string>
	<key>GCM_SENDER_ID</key>
	<string>605305531825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.corelife.app</string>
	<key>PROJECT_ID</key>
	<string>proyectocorelife</string>
	<key>STORAGE_BUCKET</key>
	<string>proyectocorelife.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:605305531825:ios:e50efc29f78ac253606190</string>
</dict>
</plist>